# Diretórios
Output
VerificaDlls

# Arquivos específicos
isetup-5.4.2.exe
GeoSan.exe
install/GeraSetupGeoSan/ArquivosInstGeoSan/GeoSan.exe
trunk/GeoSan.exe
install/GeraSetupGeoSan/Output
install\GeraSetupGeoSan\ArquivosInstGeoSan\GeoSan.exe
trunk\GeoSan.exe
install\GeraSetupGeoSan\Output